h1 {
	color: white;
	background-image: url(concrete.jpg);
	background-size: fill;
	text-align: center;
	padding: .1em;
	max-width: 100%;
}

h2 {
	background-color: lightgreen;
	text-align: center;
}


header {
	text-align: center;
	border: ridge;
}

.input {
	padding: 5%;
	border: ridge black .5px;
	background: silver;
}

.buttonHolder {
	text-align: center;
}

#calculateChange {
	background-color: black;
	border: ridge 5;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#output {
height: 200px;
width: 200px;
border-radius : 100%;
background-image: url(red-gradient.jpg);
color: #fff;
font-size: 40px;
text-decoration: none;
text-align: center;
text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
margin-left : auto;
margin-top : 30px;
margin-bottom : 40px;
margin-right : auto;
border: 10px solid;
border-color: white;
border-radius: 100%;
}

body {
	background-image: url(ombre.jpg);
}

p {
	float: right;
}

h3 {
	float: center;
}